{% extends 'base.html.twig' %}

{% block body %}
    <div class="md:flex md:items-center md:justify-between mb-8">
        <div class="flex-1 min-w-0">
            {% block crud_title %}{% endblock %}
        </div>
        <div class="mt-6 md:mt-0 md:ml-4">
            {% block crud_actions %}{% endblock %}
        </div>
    </div>

    {% block crud_filters %}{% endblock %}

    <div class="mt-8">
        {% block crud_content %}{% endblock %}
    </div>
{% endblock %}

{% block javascripts_inline %}
    {{ parent() }}
    {% block crud_javascripts %}{% endblock %}
{% endblock %}