{% extends 'crud/index.html.twig' %}

{% block title %}Nouveau jeune{% endblock %}

{% block crud_title %}
    <h1 class="text-3xl font-bold text-gray-900">Créer un nouveau jeune</h1>
{% endblock %}

{% block crud_content %}
    <div class="pb-20 sm:pb-6"> {# Increased bottom padding for mobile #}
        {% include 'youth/_form.html.twig' with {'button_label': 'Créer'} %}
    </div>
{% endblock %}

{% set index_route = 'app_youth_index' %}
{% set button_label = 'Créer' %}